
.header{
    position: absolute;
    height:10%;
    width:100%;
    background-color:rgba(8, 16, 61, 0.836);

}
.main{
    position: absolute;

    top:11%;
    width:100%;
    height:80%;
    z-index: 1;
}
.footer{
    position: absolute;
    top:91%;
    width:100%;
    height: 10%;
    background-color: rgba(26, 80, 87, 0.774);
}
.left{
    position:relative;
    width:85%;
    height: 100%;
    background-color: white;
}
.right{
    position: absolute;
    top:0%;
    left:85%;
    height:100%;
    width:15%;
    background-color: rgba(110, 199, 194, 0.829);
}
.animation{
    position: absolute;
    border:1px solid black;
    width:70%;
    height:15%;
    top:5%;
    left:15%;
    border-radius: 10px;
}
.products{

    position: absolute;
    margin:auto;
    top:25%;
    border:1px solid black;
    height:40%;
    width:94%;
    left:3%;
    border-radius: 10px;
}
.nameof{
    position: absolute;
    left:10%;
    color:white;
}

/* .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top:28%;
  } */
.specialists{
    position: absolute;
    border:1px solid black;
    top:70%;
    width:90%;
    height:27%;
    left:4.5%;
    border-radius:10px;
}
/* .active, .dot:hover{
    background-color: #717171;
} */


  @keyframes products{
      0%{
          left:0;
      }
      20% {
        left: 0;
    }
    
    25% {
        left: -100%;
    }
    
    45% {
        left: -100%;
    
    }
    
    50% {
            left: -200%;
    
    }
    
    70% {
        left: -200%;
    }
    
    75% {
        left: -300%;
    }
    
    95% {
        left: -300%;
    }
    
    100% {
        left: -400%;
    
    }
  }
  .products{
      overflow:hidden;
  }
  .figures{
      position: absolute;
      border:1px solid black;
      width:30%;
      height: 70%;
      top:15%;
      left:35%;
      overflow: hidden;
  }
  .products figure img{
      width:20%;
      float:left;
  }
  .products figure{
      position: relative;
      width:500%;
      margin:0;
      left:0;
      text-align:center;
      font-size: 0;
      animation:20s products infinite;
  }
  .about{
      position: absolute;
      top:30%;
      left:45%;
      color:white;
  }
  .serv{
      position: absolute;
      left:23%;
      color:white;
  }
  .list{
      position:absolute;
      color:white;
      top:10%;
  }
  .typeofserve{
      border:0 solid black;
      font-size:25px;
      margin:3px;
  }
  /* .follow{
      position: absolute;
      border:1px solid black;
      height:70%;
      width:25%;
      left:35%;
      top:15%;
  } */
  /* .followimages{
      position: absolute;
      height:70%;
  } */
